.content{
    background: linear-gradient(115.6deg, #3EB5F1 3.7%, #4E6FB3 59.81%, #3EB5F1 103.65%);
    font-family: $contentFont;
    padding-top: 60px;
    position: relative;

    &__wrapper{
        min-height: 1129px;
    }
}

.content.second-page, .content.thirdy-page{
    background: url('./../images/page-background.svg') no-repeat center / cover;
    padding-top: 15px;
    display: none;
}
