.main{
    
    &__slider{
        max-height: 608px;
        height: 100%;
        width: 100%;
        position: relative;

        &-blue{
            background: url('./../images/main-back1.svg') no-repeat center / cover;
            height: 100%;
            max-height: 608px;
        }

        &-green{
            background: url('./../images/main-back2.svg') no-repeat center / cover;
        }
    }

    .slick-track{
        height: 608px;
        max-height: 608px;
    }

    .slick-arrow.slick-prev{
        content: "";
        background-color: inherit;
        background-image: url('./../images/button-prev.svg');
        width: 71px;
        height: 71px;
        border: none;
        font-size: 0;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
    
    .slick-arrow.slick-next{
        content: "";
        background-color: inherit;
        background-image: url('./../images/button-next.svg');
        width: 71px;
        height: 71px;
        border: none;
        font-size: 0;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}