.menu{
    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
    }

    &__list-item{
        position: relative;

        &::before{
            content: "";
            background-image: url('./../images/admin.svg');
            background-size: 80px 69px;
            width: 80px;
            height: 69px;
            position: absolute;
            bottom: 35px;
            left: 25px;
        }

        &:nth-child(2)::before{
            content: "";
            background-image: url('./../images/management.svg');
            background-size: 65px 78px;
            width: 65px;
            height: 78px;
            position: absolute;
            bottom: 35px;
            left: 25px;
        }

        &:nth-child(3)::before{
            content: "";
            background-image: url('./../images/schedule.svg');
            background-size: 78px 78px;
            width: 78px;
            height: 78px;
            position: absolute;
            bottom: 35px;
            left: 25px;
        }

        &:last-child::before{
            content: "";
            background-image: url('./../images/structure.svg');
            background-size: 80px 65px;
            width: 80px;
            height: 65px;
            position: absolute;
            bottom: 35px;
            left: 25px;
        }
    }

    &__title{
        text-align: center;
        margin-bottom: 30px;
        @include text(26px, 700, 35px, $textColor);
        text-transform: uppercase;
    }

    &__list-button{
        display: flex;
        justify-content: flex-end;
        padding: 60px 20px 45px;
        border: none;
        min-height: 250px;
        min-width: 300px;
        border-radius: 45px;
        background-color: $textColorLight;
        box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
        max-width: 260px;
        text-transform: uppercase;
        @include text(22px, 500, 26px, $textColor);
        text-align: right;
    }

    &__home{
        background: url('./../images/Home.svg') no-repeat center / contain;
        width: 40px;
        height: 40px;
        border: none;
        position: absolute;
        top: 15px;
        left: 30px;
    }

    &__back{
        background: url('./../images/Back.svg') no-repeat center / contain;
        width: 62px;
        height: 40px;
        border: none;
        position: absolute;
        top: 15px;
        right: 30px;
    }

    &__info-text{
        @include text(20px, 400, 23px, $textColor);
    }
}